<p id="notice"><%= notice %></p>

<h1>Listing Trade Deals</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Seller</th>
      <th>Resource</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th>Agreed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_deals.each do |trade_deal| %>
      <tr>
        <td><%= trade_deal.player.name %></td>
        <td><%= trade_deal.country_resource.country.player.name %></td>
        <td><%= trade_deal.country_resource.resource.name %></td>
        <td><%= trade_deal.cost %></td>
        <td><%= trade_deal.quantity %></td>
        <td><%= trade_deal.agreed %></td>
        <td><%= link_to 'Show', trade_deal %></td>
        <td><%= link_to 'Edit', edit_trade_deal_path(trade_deal) %></td>
        <td><%= link_to 'Destroy', trade_deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade deal', new_trade_deal_path %>
