<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @trade_deal.player.name %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @trade_deal.country_resource.country.player.name %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @trade_deal.country_resource.resource.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @trade_deal.cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @trade_deal.quantity %>
</p>

<p>
  <strong>Agreed:</strong>
  <%= @trade_deal.agreed %>
</p>

<%= link_to 'Edit', edit_trade_deal_path(@trade_deal) %> |
<%= link_to 'Back', trade_deals_path %>
