<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Player</th>
      <th>Flag</th>
      <th>Motto</th>
      <th>Population</th>
      <th>Employment</th>
      <th>Tax rate</th>
      <th>Wealth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.player %></td>
        <td><%= country.flag %></td>
        <td><%= country.motto %></td>
        <td><%= country.population %></td>
        <td><%= country.employment %></td>
        <td><%= country.tax_rate %></td>
        <td><%= country.wealth %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
