<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= File.basename( @country.name, ".png" ).titleize %>
</p>

<p>
  <strong>Ruler:</strong>
  <%= @country.player.name %>
</p>

<p>
  <%= image_tag "flags/" + @country.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @country.motto %>
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @country.employment %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @country.tax_rate %>
</p>

<p>
  <strong>Wealth:</strong>
  <%= @country.wealth %>
</p>

<strong>Resources</strong>
<ul>
  <% @country.country_resources.each do |r| %>
  <li><%=r.quantity%> <%=Resource.find(r.resource_id).name %>, Growth rate: <%= Resource.find(r.resource_id).growth_factor %>, Exchange rate: <%= Resource.find(r.resource_id).exchange_rate %></li>
  <% end %>
</ul>

<% @country.country_resources.each do |cr| %>
  <% if cr.trade_deals.any? %>
    <% cr.trade_deals.each do |deal| %>
      <%= link_to "Offer from #{deal.player.name} to buy #{deal.quantity} #{deal.country_resource.resource.name} for #{deal.cost} Wealth", edit_trade_deal_path(deal) %>
    <% end %>
  <% end %>
<% end %>
<br>

<% if @country.player_id == current_player.id %>
  <%= link_to 'Edit', edit_player_country_path(@country.player_id, @country.id) %>
<% end %>
<%= link_to 'Back', player_path(@country.player_id) %>
