<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= File.basename( @country.name, ".png" ).titleize %>
</p>

<p>
  <strong>Ruler:</strong>
  <%= @country.player.name %>
</p>

<p>
  <%= image_tag "flags/" + @country.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @country.motto %>
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @country.employment %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @country.tax_rate %>
</p>

<p>
  <strong>Wealth:</strong>
  <%= @country.wealth %>
</p>

<%= link_to 'Edit', edit_player_country_path(@country.player_id, @country.id) %> |
<%= link_to 'Back', player_path(@country.player_id) %>
