<!DOCTYPE html>
<html>
<head>
  <title>CityStates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_player %>
  <%= current_player.email %>
<% end %>
<%= yield %>
<% if current_player %>
  <%= link_to 'Log-out', login_path, method: :delete %>
<% end %>


</body>
</html>
